.admin {
    .admin-index {
        .recent-posts .post,
        .recent-comments .comment {
            min-width: 100%;
        }

        @media (min-width: 1200px) { 
            .recent-posts .post,
            .recent-comments .comment {
                min-width: 50%;
            }        
        }
    }

    .post-index {
        .row:nth-of-type(2) div[class^="col"] {
            margin-bottom: 15px;

            .post {
                height: 100%;
                padding: 15px 20px;
                border: 1px solid #ccc;
                transition: box-shadow 0.6s ease;

                .title {
                    color: #007bff;
                }

                a {
                    color: #333;
                    &:hover {
                        text-decoration: none;
                    }
                }
    
                &:hover {
                    box-shadow: 0px 5px 10px #ccc;
                    cursor: pointer;
                }
            }
        }

        @media (min-width: 1200px) { 
            .row:nth-of-type(2) div[class^="col"]{
                margin-bottom: 30px;
            }     
        }
    }

    .post-delete {
        .btn-grp-delete {
            .btn:not(:last-of-type) {
                margin-right: .5rem;
            }
        }
    }

    .page-header {
        .title {
            display: inline-block;
        }

        .btn-add {
            display: inline-block;
            margin-left: .5rem;
            margin-bottom: .5rem;
        }
    }
}