@model IEnumerable<Web.ViewModels.Post.PostViewModel>

<div class="home-index">
    <div class="row">
        @if(Model == null || Model.Count() == 0)
        {
            <div class="col">
                <h3>No recent posts.</h3>
            </div>
        }
        else 
        {
            foreach(var post in Model)
            {
                <div class="col post">
                    <h3>@post.Title</h3>
                    <p>@post.RowCreatedDateTime</p>
                    <p>@post.Content</p>
                </div>
            }
        }
    </div>
</div>