.admin .admin-index .recent-posts .post,
.admin .admin-index .recent-comments .comment {
  min-width: 100%;
}

@media (min-width: 1200px) {
  .admin .admin-index .recent-posts .post,
  .admin .admin-index .recent-comments .comment {
    min-width: 50%;
  }
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] {
  margin-bottom: 15px;
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] .post {
  height: 100%;
  padding: 15px 20px;
  border: 1px solid #ccc;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  -o-transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] .post .title {
  color: #007bff;
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] .post a {
  color: #333;
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] .post a:hover {
  text-decoration: none;
}

.admin .post-index .row:nth-of-type(2) div[class^="col"] .post:hover {
  -webkit-box-shadow: 0px 5px 10px #ccc;
          box-shadow: 0px 5px 10px #ccc;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .admin .post-index .row:nth-of-type(2) div[class^="col"] {
    margin-bottom: 30px;
  }
}

.admin .post-delete .btn-grp-delete .btn:not(:last-of-type) {
  margin-right: .5rem;
}

.admin .page-header .title {
  display: inline-block;
}

.admin .page-header .btn-add {
  display: inline-block;
  margin-left: .5rem;
  margin-bottom: .5rem;
}
