.comments .comment-editor {
  width: 100%;
  min-height: 135px;
}

.comments .comment-info {
  padding: 15px;
}

.comments .comment-info span, .comments .comment-info input, .comments .comment-info img {
  margin-right: 8px;
}

.comments .comment-info .comment-author {
  border: 1px solid #ccc;
}

.comments .comment-info .character-count {
  margin-right: 8px;
}

.comments .comments-list .comment {
  width: 100%;
  min-height: 150px;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  -o-transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

.comments .comments-list .comment:hover {
  -webkit-box-shadow: 0px 5px 10px #ccc;
          box-shadow: 0px 5px 10px #ccc;
}

.comments .comments-list .comment .btn-reply {
  display: block;
  text-align: right;
}
