.post-detail .comment-editor {
  width: 100%;
  min-height: 135px;
}

.post-detail .comment-info {
  margin-top: 5px;
}

.post-detail .comment-info span, .post-detail .comment-info img {
  margin-right: 5px;
}

.post-detail .comment-info .character-count {
  margin-right: 5px;
}
