@model Web.ViewModels.Post.EditPostViewModel

<div class="post-edit">
    <div class="row">
        <div class="col-12 col-xl-9 d-flex justify-content-between align-items-center">
            <h2>Edit "@Model.Title"</h2>
            <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-9">
            <form asp-controller="Post" asp-action="Edit" asp-anti-forgery="true" method="POST">
                <input asp-for="Id" type="hidden">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Enter title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control post-editor" placeholder="Start here..."></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <partial name="~/Views/Partials/_FormSubmitPartial.cshtml" view-data="ViewData"/>
            </form>
        </div>
    </div>
</div>