@model IEnumerable<Web.ViewModels.Post.PostViewModel>

<div class="post-index">
    <div class="row">
        <div class="col page-header">
            <h2 class="title">Posts</h2>
            <a class="btn btn-default btn-add" href="/Post/Add">Add</a>            
        </div>
    </div>
    <div class="row posts">
        @if(Model == null || Model.Count() == 0)
        {
            <div class="col">
                <h3>No recent posts.</h3>
            </div>
        }
        else 
        {
            foreach(var post in Model)
            {
                <div class="col-12 col-xl-4">
                    <div class="post">
                        <a asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id" class="d-flex flex-column">
                            <h3 class="title">@post.Title</h3>
                            <p class="date">@post.RowCreatedDateTime.ToString("MMM dd, yyyy HH:mm:ss")</p>
                            <span class="content flex-grow-1">
                                @Html.Raw(post.Content)
                            </span>
                            <span class="text-right read-more">Read more...</span>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>