@using Helper;
@model Web.ViewModels.Comment.CommentViewModel;
@{
    ViewData[Constants.CommentId] = Model.Id;
}

<div class="comment">
    <partial name="~/Views/Partials/_CommentInfoPartial.cshtml" model="Model"/>
    <div class="replies-list">
        @if(Model.Replies != null && Model.Replies.Count() != 0){
            foreach(var reply in Model.Replies)
            {
                <partial name="~/Views/Partials/_CommentInfoPartial.cshtml" model="reply"/>
            }
        }
        <button class="btn btn-primary btn-reply">Reply</button>
    </div>
    <div class="reply-editor-container d-none">
        <partial name="~/Views/Partials/_CommentEditorPartial.cshtml" view-data="ViewData"/>
    </div>
</div>