@model Web.ViewModels.Comment.CommentViewModel;

<div class="info">
    <h4>@Model.Author</h4>
    <p>@Model.RowCreatedDateTime.ToString("MMM dd, yyyy HH:mm:ss")</p>
    <span>@Html.Raw(Model.Content)</span>
</div>