<div class="recent-posts">
    <h2>Recent Posts</h2>
    <div class="row">
        @for(int i = 0; i <= 5; i++)
        {
            <div class="post col">
                <h3 title="Post Title">Post Title</h3>
                <span>@DateTime.Now</span>
                <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsum</p>
            </div>
        }
    </div>
</div>
<div class="recent-comments">
    <h2>Recent Comments</h2>
    <div class="row">
        @for(int i = 0; i <= 5; i++)
        {
            <div class="comment col">
                <h3>Post Title</h3>
                <span>Author</span>
                <span>@DateTime.Now</span>
                <p class="content">Lorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                Lorem ipsum</p>
            </div>
        }
    </div>
</div>


